.calc{
    margin-left: 500px;
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
}
.title{
    text-align: left;
    padding-bottom: 1px;
    padding-left: 580px;
    font-weight: bolder;
    font-size: larger;
    color: black;
}
h1{
    color: white;
    text-align: right;
    font-size: 21px;
    font-weight: 900;
    padding-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.text{
    height: 30px;
    width: 300px;
    background-color: black;
}
.ac_button{
    color: black;
    background-color: lightgrey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 900;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
    z-index: 1000; 
}
.arrow_button{
    color: black;
    background-color: lightgray;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 900;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
}
.module_button{
    color: black;
    background-color: lightgray;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 900;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
}
.divide_button{
    color: white;
    background-color: orange;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
}
.seven_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.eight_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.nine_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.multiply_button{
    color: white;
    background-color: orange;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
}
.four_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.five_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.six_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.subtract_button{
    color: white;
    background-color: orange;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
}
.one_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.two_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.three_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.addition_button{
    color: white;
    background-color: orange;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
}
.zero_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.doublezero_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.dot_button{
    color: white;
    background-color: grey;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none; 
}
.equal_button{
    color: white;
    background-color: orange;
    margin-left: 7px;
    border-radius: 50%;
    font-weight: 600;
    width: 61px;
    height: 61px;
    font-size: 20px;
    border: none;
}